button,
fieldset,
input {
  all: unset;
}

.wrapper {
  width: 100%;
  padding: 3rem 1rem;
  position: relative;
}

/* @media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
} */



.TabsRoot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
}

.TabsTrigger {
  font-family: inherit;
  padding: 0 1.25rem;
  height: 2.8rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: var(--gray-400);
  user-select: none;
  outline: none;
}
.TabsTrigger:first-child {
  border-top-left-radius: 6px;
}
.TabsTrigger:last-child {
  border-top-right-radius: 6px;
}
.TabsTrigger:hover {
  color: var(--blue-500);
}
.TabsTrigger[data-state='active'] {
  background: white;
  color: var(--blue-500);
  border-bottom: 3px solid currentColor;
  box-shadow: none;
}
.TabsTrigger:focus {
  position: relative;
}

.TabsContent {
  flex-grow: 1;
  padding: 1.25rem;
  background: white;
  outline: none;
}

.Fieldset {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Label {
  line-height: 1;
  margin-bottom: 1rem;
  color: var(--gray-400);
  display: block;
}

.Input {
  flex: 1 0 auto;
  border-radius: 4px;
  padding: 0 0.6rem;
  font-size: 1.5rem;
  color: var(--green-900);
  border: 1px solid var(--gray-300);
  height: 4.37rem;
  text-align: center;
  background: var(--yellow-100);
}
.Input::placeholder {
  color: var(--gray-400);
}

.wrapperButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.25rem;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 1rem;
  line-height: 1;
  font-weight: 600;
  height: 4.37rem;
  color: var(--gray-400);
  width: 100%;
  text-transform: uppercase;
}

.ButtonEntry,
.ButtonPayment {
  background: var(--gray-300);
}
.ButtonEntry:hover,
.ButtonEntry:focus {
  background: var(--green-500);
  color: var(--white);
}

.ButtonExit {
  border: 2px solid var(--gray-300);
}
.ButtonExit:hover,
.ButtonExit:focus {
  border: 2px solid var(--purple-500);
  color: var(--purple-500);
}

.Link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 600;
  color: var(--blue-700);
  width: 100%;
  text-transform: uppercase;
  margin-top: 0.875rem;
  padding-bottom: 0.875rem;
  text-decoration: none;
}
.Link:hover,
.Link:focus {
  text-decoration: underline;
}